.column1 {
  width:30%;
  float: left;
  margin: 1%;
  background-color: #eee;
}
.column2 {
  width:30%;
  float: left;
  margin: 1%;
  background-color: #yellow;
}
.column3 {
  width:30%;
  float: left;
  margin: 1%;
  background-color: #000;
  color: white;
}

.column1 img {
  max-width: 100%;

}
.column2 img {
  max-width: 100%;

}
.column3 img {
  max-width: 100%;

}
 h3 {
  text-align: center;
}

h2 {
  color: red;
  font-size: 35px;
  text-align: center;
}
